<a href="https://colab.research.google.com/github/Bhargavatrgukt/HandwrittenDigitRecognizationUsingKNN/blob/main/Copy_of_Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Pandas - Brief Intro

1. Data Analysis library which makes it easy to read and work with different types of data
 * Load large amounts of data into python
 * Work with different file formats (csv, sql, excel, etc.)
 * Work with time-series data (stock prices, sales data, etc.)

2. Cleaning the Data and Handling Missing Values
3. Built on top of NumPy and has great performance


> **Essential for everyone working with data (Data Science, ML, Analytics, etc.)**

# Walkthrough of Datasets

## Stack Overflow Dataset

With nearly 65,000 responses fielded from over 180 countries and dependent territories, the 2020 Annual Developer Survey by Stack Overflow examines all aspects of the developer experience from career satisfaction and job search to education and opinions on open source software.

**Source**: https://insights.stackoverflow.com/survey

In [2]:
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv

--2023-08-21 05:39:35--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.160.86, 52.219.156.154, 52.219.160.114, ...
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.160.86|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 94603888 (90M) [text/csv]
Saving to: ‘survey_results_public.csv’

survey_results_publ 100%[===================>]  90.22M  13.2MB/s    in 8.4s

2023-08-21 05:39:44 (10.8 MB/s) - ‘survey_results_public.csv’ saved [94603888/94603888]

## Covid Dataset

This dataset provides day-wise metric of COVID-19 in Italy for around 200 days.

**Source**: https://hub.jovian.ml/wp-content/uploads/2020/09/italy-covid-daywise.csv

In [3]:
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv

--2023-08-21 05:39:58--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 3.5.211.148, 52.219.156.150, 52.219.158.26, ...
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|3.5.211.148|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6619 (6.5K) [text/csv]
Saving to: ‘italy-covid-daywise.csv’

italy-covid-daywise 100%[===================>]   6.46K  --.-KB/s    in 0s

2023-08-21 05:39:59 (209 MB/s) - ‘italy-covid-daywise.csv’ saved [6619/6619]

## Film Dataset

About 1000 movies with properties such as length, main actor and actress, director and popularity.

**Source**: https://perso.telecom-paristech.fr/eagan/class/igr204/datasets

In [2]:
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv

--2023-08-21 08:41:44--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 3.5.209.114, 52.219.156.150, 52.219.62.119, ...
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|3.5.209.114|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 102889 (100K) [text/csv]
Saving to: ‘film.csv’

film.csv            100%[===================>] 100.48K   213KB/s    in 0.5s

2023-08-21 08:41:45 (213 KB/s) - ‘film.csv’ saved [102889/102889]

## eCommerce Dataset

This dataset provides shopping data related to various products and orders over the course of a year.

**Source**: https://github.com/KeithGalli/Pandas-Data-Science-Tasks

In [5]:
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv

--2023-08-21 05:42:47--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.160.134, 52.219.66.30, 52.219.158.6, ...
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.160.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16278053 (16M) [text/csv]
Saving to: ‘shopping_data_v2.csv’

shopping_data_v2.cs 100%[===================>]  15.52M  5.97MB/s    in 2.6s

2023-08-21 05:42:51 (5.97 MB/s) - ‘shopping_data_v2.csv’ saved [16278053/16278053]

# Reading & Writing files

Reading/Loading the data from a csv file

In [6]:
shopping_df = pd.read_csv('shopping_data_v2.csv')

Writing the data to a csv file

In [7]:
shopping_df.to_csv('shopping_data_copy.csv')

# Dataframe
**A dataframe is like a dictionary of lists, but with much more functionality**

*   A table of data (Rows and Columns)
*   2 Dimensional Data Structure

## Properties of a Dataframe

**Shape of a dataframe**

In [8]:
shopping_df.shape

(185950, 6)

**`df.columns` returns the column labels of a DataFrame**

In [9]:
shopping_df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

**`df.dtypes` returns the datatypes of each column in a DataFrame**

In [10]:
shopping_df.dtypes

Order ID              int64
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

### df.head
* `df.head(n=5)`
  *   Returns the first `n` rows.
  * For negative values of `n`, this function returns all the rows except for the last `n` rows.

In [13]:
shopping_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [ ]:
shopping_df.head(10)

In [14]:
shopping_df.head(-185949)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"

### df.tail
* `df.tail(n=5)`
  *   Returns the last `n` rows.
  * For negative values of `n`, this function returns all rows except for the first `n` rows.

In [15]:
shopping_df.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185945,176554,Lightning Charging Cable,1,14.95,03/24/19 11:14,"672 12th St, San Francisco, CA 94016"
185946,176555,27in FHD Monitor,1,149.99,03/22/19 20:27,"42 4th St, San Francisco, CA 94016"
185947,176556,AAA Batteries (4-pack),3,2.99,03/14/19 10:29,"871 7th St, Los Angeles, CA 90001"
185948,176557,iPhone,1,700.00,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"
185949,176557,Lightning Charging Cable,1,14.95,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"

In [16]:
shopping_df.tail(15)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185935,176544,Lightning Charging Cable,2,14.95,03/15/19 11:08,"436 8th St, Dallas, TX 75001"
185936,176545,AAA Batteries (4-pack),2,2.99,03/21/19 10:59,"515 Center St, San Francisco, CA 94016"
185937,176546,Wired Headphones,1,11.99,03/21/19 16:06,"3 Church St, Los Angeles, CA 90001"
185938,176547,Wired Headphones,2,11.99,03/01/19 16:39,"998 Pine St, Boston, MA 02215"
185939,176548,AAA Batteries (4-pack),1,2.99,03/16/19 15:36,"9 Sunset St, Portland, OR 97035"
185940,176549,iPhone,1,700.00,03/20/19 01:24,"604 Park St, Los Angeles, CA 90001"
185941,176550,Wired Headphones,1,11.99,03/01/19 22:30,"16 Sunset St, San Francisco, CA 94016"
185942,176551,LG Washing Machine,1,600.00,03/20/19 23:49,"567 River St, San Francisco, CA 94016"
185943,176552,Apple Airpods Headphones,1,150.00,03/08/19 14:07,"578 Main St, Los Angeles, CA 90001"
185944,176553,USB-C Charging Cable,1,11.95,03/02/19 22:27,"437 Washington St, New York City, NY 10001"
185945,176554,Lightning Charging Cable,1,14.95,03/24/19 11:14,"672 12th St, San Francisco, CA 94016"
185946,176555,27in FHD Monitor,1,149.99,03/22/19 20:27,"42 4th St, San Francisco, CA 94016"
185947,176556,AAA Batteries (4-pack),3,2.99,03/14/19 10:29,"871 7th St, Los Angeles, CA 90001"
185948,176557,iPhone,1,700.00,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"
185949,176557,Lightning Charging Cable,1,14.95,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"

In [17]:
shopping_df.tail(-10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
10,176567,Google Phone,1,600.00,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001"
11,176568,Lightning Charging Cable,1,14.95,04/15/19 12:18,"438 Elm St, Seattle, WA 98101"
12,176569,27in 4K Gaming Monitor,1,389.99,04/16/19 19:23,"657 Hill St, Dallas, TX 75001"
13,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001"
14,176571,Lightning Charging Cable,1,14.95,04/19/19 14:29,"253 Johnson St, Atlanta, GA 30301"
...,...,...,...,...,...,...
185945,176554,Lightning Charging Cable,1,14.95,03/24/19 11:14,"672 12th St, San Francisco, CA 94016"
185946,176555,27in FHD Monitor,1,149.99,03/22/19 20:27,"42 4th St, San Francisco, CA 94016"
185947,176556,AAA Batteries (4-pack),3,2.99,03/14/19 10:29,"871 7th St, Los Angeles, CA 90001"
185948,176557,iPhone,1,700.00,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"
185949,176557,Lightning Charging Cable,1,14.95,03/30/19 12:32,"83 Washington St, San Francisco, CA 94016"

### df.describe
* `df.describe(include=None, exclude=None)`
  * Generates descriptive statistics.
  * Analyzes both numeric and object series as well as mixed data types.
  * `include`: A list of data types to include in the result.
  * `exclude`:  A list of data types to omit from the result.

In [18]:
shopping_df.describe()

            Order ID  Quantity Ordered     Price Each
count  185950.000000     185950.000000  185950.000000
mean   230417.569379          1.124383     184.399735
std     51512.737110          0.442793     332.731330
min    141234.000000          1.000000       2.990000
25%    185831.250000          1.000000      11.950000
50%    230367.500000          1.000000      14.950000
75%    275035.750000          1.000000     150.000000
max    319670.000000          9.000000    1700.000000

In [21]:
shopping_df.describe(include=[object])

,Product,Order Date,Purchase Address
count,185950,185950,185950
unique,19,142395,140787
top,USB-C Charging Cable,12/15/19 20:16,"193 Forest St, San Francisco, CA 94016"
freq,21903,8,9

In [23]:
shopping_df.describe(include="all")

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,185950.000000,185950,185950.000000,185950.000000,185950,185950
unique,NaN,19,NaN,NaN,142395,140787
top,NaN,USB-C Charging Cable,NaN,NaN,12/15/19 20:16,"193 Forest St, San Francisco, CA 94016"
freq,NaN,21903,NaN,NaN,8,9
mean,230417.569379,NaN,1.124383,184.399735,NaN,NaN
std,51512.737110,NaN,0.442793,332.731330,NaN,NaN
min,141234.000000,NaN,1.000000,2.990000,NaN,NaN
25%,185831.250000,NaN,1.000000,11.950000,NaN,NaN
50%,230367.500000,NaN,1.000000,14.950000,NaN,NaN
75%,275035.750000,NaN,1.000000,150.000000,NaN,NaN
max,319670.000000,NaN,9.000000,1700.000000,NaN,NaN

In [22]:
shopping_df.describe(exclude=[object])

            Order ID  Quantity Ordered     Price Each
count  185950.000000     185950.000000  185950.000000
mean   230417.569379          1.124383     184.399735
std     51512.737110          0.442793     332.731330
min    141234.000000          1.000000       2.990000
25%    185831.250000          1.000000      11.950000
50%    230367.500000          1.000000      14.950000
75%    275035.750000          1.000000     150.000000
max    319670.000000          9.000000    1700.000000

### df.info
* `df.info()`
  * Print a concise summary of a DataFrame including the dtypes of the columns, memory usage, etc.

In [24]:
shopping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 8.5+ MB

## Comparision with Dictionary of Lists

In [25]:
people = {
    "first": ["Kristen", 'Maxine', 'John'],
    "last": ["Carol", 'Willians', 'Smith'],
    "email": ["KristenC@gmail.com", 'Maxine.Williams@email.com', 'JohnSmith@email.com']
}

Creating DataFrame from a dictionary of lists

In [26]:
df = pd.DataFrame(people)
print(df)

     first      last                      email
0  Kristen     Carol         KristenC@gmail.com
1   Maxine  Willians  Maxine.Williams@email.com
2     John     Smith        JohnSmith@email.com

In [27]:
people["first"]

['Kristen', 'Maxine', 'John']

In [28]:
df["last"]

0       Carol
1    Willians
2       Smith
Name: last, dtype: object

In [29]:
type(df["first"])

pandas.core.series.Series

# Series
**A Series is like a list of data, but with much more functionality**

Creating Series from a List of Data

In [30]:
pd.Series([1, 2, 3, 4, "asdf"])

0       1
1       2
2       3
3       4
4    asdf
dtype: object

In [31]:
type(shopping_df['Product'])

pandas.core.series.Series

# Accessing Data

## Indexing

We can retrieve a specific value from a series using the indexing notation **`[]`**

In [32]:
shopping_df['Product'][200]

'AA Batteries (4-pack)'

### df.iloc

**Accessing by position numbers**

* `df.iloc()`

  * Purely integer-location based indexing for selection by position.
  * Unlike in `loc`, if a slice object with indices is passed then **stop is excluded**

In [52]:
shopping_df.iloc[0:4]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [55]:
df=pd.DataFrame([[1,2],[4,5],[7,8]],index=[7,8,9],columns=["max","min"])
df.loc[7:9]

   max  min
7    1    2
8    4    5
9    7    8

In [ ]:
shopping_df.iloc[0, 1]

### df.loc

**Accessing by label / name**

* `df.loc()`

  * Access a group of rows and columns by label(s) or a boolean array
  * Allowed inputs are:
    * single label
    * list or array of labels
    * slice object with labels (**both start and stop are included**)
    * boolean array of the same length as the axis being sliced

In [34]:
shopping_df.loc[980]

Order ID                                     177494
Product                       AA Batteries (4-pack)
Quantity Ordered                                  1
Price Each                                     3.84
Order Date                           04/22/19 05:37
Purchase Address    480 North St, Seattle, WA 98101
Name: 980, dtype: object

In [42]:
shopping_df.loc[[980, 456]]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
980,177494,AA Batteries (4-pack),1,3.84,04/22/19 05:37,"480 North St, Seattle, WA 98101"
456,176995,AA Batteries (4-pack),2,3.84,04/20/19 23:12,"964 8th St, San Francisco, CA 94016"

In [31]:
shopping_df.loc[[980, 456], ['Product', 'Order Date']]

NameError: ignored

In [44]:
shopping_df.loc[45, 'Product']

'Lightning Charging Cable'

In [45]:
shopping_df[0:3]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### df.at
* `df.at()`
  * Access a single value for a row/column label pair.
  * Can also set/update a value at a specified row/column pair
  * Use `at` only if you need to get or set a single value in a DataFrame or Series.

In [53]:
shopping_df.at[50000, 'Product']

'AA Batteries (4-pack)'

In [ ]:
df_copy = shopping_df.copy()

In [ ]:
print(df_copy.at[50000, 'Product'])
df_copy.at[50000, 'Product'] = "Micro USB Cable"
print(df_copy.at[50000, 'Product'], "\n")

print(shopping_df.at[50000, 'Product'])

## Slicing

In [ ]:
shopping_df[0:3]

When slicing using **loc** the start and stop indices are **included**.

In [ ]:
shopping_df.loc[7:9]

In [ ]:
shopping_df.loc[23:45, 'Product']

In [46]:
shopping_df.loc[10:20, 'Product':'Order Date']

                     Product  Quantity Ordered  Price Each      Order Date
10              Google Phone                 1      600.00  04/18/19 17:18
11  Lightning Charging Cable                 1       14.95  04/15/19 12:18
12    27in 4K Gaming Monitor                 1      389.99  04/16/19 19:23
13     AA Batteries (4-pack)                 1        3.84  04/22/19 15:09
14  Lightning Charging Cable                 1       14.95  04/19/19 14:29
15  Apple Airpods Headphones                 1      150.00  04/04/19 20:30
16      USB-C Charging Cable                 1       11.95  04/27/19 18:41
17              Google Phone                 1      600.00  04/03/19 19:42
18      USB-C Charging Cable                 1       11.95  04/03/19 19:42
19    AAA Batteries (4-pack)                 1        2.99  04/27/19 00:30
20  Apple Airpods Headphones                 1      150.00  04/28/19 11:42

When slicing using **iloc** the stop index is **excluded**.

In [48]:
shopping_df.iloc[1, 0:3]

Order ID                                176559
Product             Bose SoundSport Headphones
Quantity Ordered                             1
Name: 1, dtype: object

In [ ]:
shopping_df.iloc[1, 0:3]

# Try It Yourself

For the following questions, use the **film** dataset.
0. Load the dataset into a dataframe using `read_csv`
1. Get the shape of the dataset.
2. Get the names of the first 6 films.
3. Generate descriptive statistics for the dataset, including all datatypes.
4. Change the 'Popularity' at the third index to 70.
5. Get the data in the first two columns for the last five rows in the dataset.

In [5]:
film_df=pd.read_csv("film.csv")
film_df.shape

(1128, 9)

In [6]:
film_df.head(5)

,Year,Length,Title,Subject,Actor,Actress,Director,Popularity,Awards
0,1990,111,Tie Me Up! Tie Me Down!,Comedy,"Banderas, Antonio","Abril, Victoria","Almodóvar, Pedro",68,No
1,1991,113,High Heels,Comedy,"Bosé, Miguel","Abril, Victoria","Almodóvar, Pedro",68,No
2,1983,104,"Dead Zone, The",Horror,"Walken, Christopher","Adams, Brooke","Cronenberg, David",79,No
3,1979,122,Cuba,Action,"Connery, Sean","Adams, Brooke","Lester, Richard",6,No
4,1978,94,Days of Heaven,Drama,"Gere, Richard","Adams, Brooke","Malick, Terrence",14,No

In [11]:
film_df.describe(include="all")

,Year,Length,Title,Subject,Actor,Actress,Director,Popularity,Awards
count,1128.000000,1128.000000,1128,1128,1128,1128,1128,1128.000000,1128
unique,NaN,NaN,1127,15,591,652,643,NaN,2
top,NaN,NaN,"Island of Dr. Moreau, The",Drama,"Wayne, John","Bergman, Ingrid","Bergman, Ingmar",NaN,No
freq,NaN,NaN,2,490,35,25,28,NaN,990
mean,1975.243794,108.290780,NaN,NaN,NaN,NaN,NaN,43.850177,NaN
std,16.615917,29.299461,NaN,NaN,NaN,NaN,NaN,26.912387,NaN
min,1924.000000,18.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,1966.750000,94.000000,NaN,NaN,NaN,NaN,NaN,19.000000,NaN
50%,1982.000000,103.000000,NaN,NaN,NaN,NaN,NaN,44.500000,NaN
75%,1988.000000,117.000000,NaN,NaN,NaN,NaN,NaN,68.000000,NaN
max,1997.000000,450.000000,NaN,NaN,NaN,NaN,NaN,88.000000,NaN

In [13]:
film_df[0:5]["Title"]

0    Tie Me Up! Tie Me Down!
1                 High Heels
2             Dead Zone, The
3                       Cuba
4             Days of Heaven
Name: Title, dtype: object

In [21]:
film_df[0:10]["Popularity"]

0    68
1    68
2    79
3    70
4    14
5    68
6    14
7    28
8     6
9    32
Name: Popularity, dtype: int64

In [23]:
film_df["Popularity"][2]=90
film_df[0:3]["Popularity"]

<ipython-input-23-89ef8f142d06>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  film_df["Popularity"][2]=90

0    68
1    68
2    90
Name: Popularity, dtype: int64

In [44]:
film_df.loc[5:1:-1,:"Title"]

   Year  Length           Title
5  1983     140       Octopussy
4  1978      94  Days of Heaven
3  1979     122            Cuba
2  1983     104  Dead Zone, The
1  1991     113      High Heels

In [26]:
film_df.tail(5)

,Year,Length,Title,Subject,Actor,Actress,Director,Popularity,Awards
1123,1975,93,That Lucky Touch,Action,"Moore, Roger","York, Susannah","Miles, Christopher",85,No
1124,1949,90,Lust for Gold,Drama,"Ford, Glenn","Young, Gig","Simon, S. Sylvan",57,No
1125,1987,103,Heat,Mystery,"Reynolds, Burt","Young, Karen","Jameson, Jerry",69,No
1126,1947,87,Night Is My Future,Drama,"Malmsten, Birger","Zetterling, Mai","Bergman, Ingmar",17,No
1127,1990,92,"Witches, The",Science Fiction,"Fisher, Jasen","Zetterling, Mai","Roeg, Nicolas",18,No